:root
    --primary: #ffdfdf
    --secondary: #f7c0c0
    --secondary-nd: #ffcfcf
    --tertiary: #ffb4b4
    --quaternary: #fb9b9b
    --font-st: #2c2727
    --font-nd: #a9273b
    --font-rd: #b83b3b
    --accent-st: #e74d5f
    --border-st: #ffb2bb
    --popup-bg: #ffdada88
    --popup-st: #ffcdcd72

    --box-roundness: 25px
    --transparent: #00000000

@media (prefers-color-scheme: dark)
    :root
        --primary: #141313
        --secondary: #221f1f
        --secondary-nd: #181616
        --tertiary: #2c2929
        --quaternary: #322c2c
        --font-st: #e3e3e3
        --font-nd: #ca5353
        --font-rd: #f57979
        --accent-st: #e77280
        --border-st: #373535
        --popup-bg: #0000005c
        --popup-st: #28262696
