<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <span id="error" style="border-color: red; background-color: #ff4545; color: white; padding: 5px; border-width: 1px; border-radius: 5px; display: none"></span>
        <form id="form">
            <input type="text" name="username" placeholder="Username" /><br />
            <input type="password" name="password" placeholder="Password" /><br />
            <button type="submit">Login</button><br />
        </form>

        <script>
            $('#form').on('submit', submit);

            function submit(e) {
                e.preventDefault();
                const form = e.target;
                const data = new FormData(form);
                const username = data.get('username');
                const password = data.get('password');

                fetch('/v1/users/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        username,
                        password,
                    }),
                })
                    .then((res) => res.json())
                    .then((data) => {
                        if (data.body.error) {
                            $('#error').text(JSON.stringify(data.body.error)).show();
                        } else {
                            localStorage.setItem('token', data.body.token);

                            const redirect = '<%= redirect || "__CLOSE__" %>' || '__CLOSE__';
                            if (redirect == '__CLOSE__') window.close();
                            else window.location.href = redirect;
                        }
                    });
            }
        </script>
    </body>
</html>
