<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Requested resource wasn't found</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/module.css" />
    </head>
    <body>
        <main>
            <section class="module">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="64" height="64" viewBox="0 0 32 32">
                    <path
                        fill="#1f1f23"
                        d="M30.5645,11.1742,16.5811,1.186a1.0007,1.0007,0,0,0-1.1622,0l-14,10A1.0515,1.0515,0,0,0,1,12V30a1,1,0,0,0,1,1H30a1,1,0,0,0,1-1V12A1.0468,1.0468,0,0,0,30.5645,11.1742ZM16,3.229l12.2183,8.7273L16,19.811,3.7815,11.9564ZM3,29V13.8317l12.46,8.01a1,1,0,0,0,1.081,0L29,13.8319V29Z"
                        data-name="Envelope open"></path>
                </svg>
                <h1>Confirm e-mail address</h1>
                <p>We've sent confirmation e-mail to your address</p>
            </section>
        </main>
    </body>
</html>
