<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Requested resource wasn't found</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/module.css" />
    </head>
    <body>
        <main>
            <section class="module">
                <!--
                    ! This is only template, adjust it to your own needs
                -->
                <h1>404</h1>
                <p>Requested resource wasn't found</p>
            </section>
        </main>
    </body>
</html>
