<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset your password</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/login.css" />
    </head>
    <body>
        <main>
            <section class="login">
                <img src="/data/logo.png" width="48" height="48" alt="Nove logo" />
                <h1>Reset your password</h1>
                <header id="error"></header>
                <form id="form">
                    <input type="password" name="password" placeholder="New Password" /><br />
                    <input type="password" name="passwordconfirm" placeholder="Confirm new password" /><br />
                    <button type="submit">Change</button><br />
                </form>
            </section>
        </main>
    </body>
</html>
