<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign up</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/login.css" />
    </head>
    <body>
        <main>
            <section class="login">
                <img src="/data/logo.png" width="48" height="48" alt="Nove logo" />
                <h1>Sign up</h1>
                <p>Nice to meet you! Fill the fields to create your Nove account</p>
                <header id="error"></header>
                <form id="form">
                    <input type="email" name="email" placeholder="E-mail" /><br />
                    <input type="text" name="username" placeholder="Username" /><br />
                    <input type="password" name="password" placeholder="Password" /><br />
                    <input type="password" name="password" placeholder="Confirm password" /><br />
                    <button type="submit">Register</button><br />
                </form>
            </section>
        </main>
    </body>
</html>
