main {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
}
#loading {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
section.authorize {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 370px;
    width: calc(100% - 80px);
    padding: 35px 40px;
    border-radius: 6px;
    border: 1px solid #2e2b2b;
    background: #131415;
}
@media screen and (max-width: 478px) {
    section.authorize {
        padding: 30px;
        width: calc(100% - 60px);
    }
}
section.authorize div.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
@media screen and (max-width: 478px) {
    section.authorize div.buttons {
        flex-direction: column;
    }
}
section.authorize div.buttons button {
    outline: 0;
    border: 1px solid #f1f1f1;
    background: #f1f1f1;
    color: #000;
    padding: 12px 16px;
    border-radius: 6px;
    width: fit-content;
    font-weight: 600;
    font-size: 14px;
    transition-duration: 0.15s;
}
@media screen and (max-width: 478px) {
    section.authorize div.buttons button {
        width: 100%;
        margin-top: 10px;
    }
}
section.authorize div.buttons button:hover {
    background: #171717;
    border: 1px solid #2e2b2b;
    color: #f1f1f1;
    cursor: pointer;
    box-shadow: 0 0 25px 0 rgba(75, 72, 72, 0.3);
}
section.authorize div.buttons button:active {
    box-shadow: 0 0 25px 0 rgba(75, 72, 72, 0.1);
}
section.authorize div.info {
    text-align: center;
}
section.authorize div.info header img {
    margin: 0 0 5px 0;
}
section.authorize div.info header h1 {
    font-size: 32px;
    font-weight: 800;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(233, 229, 227) 42%, rgba(198, 191, 191, 0.985014074) 89%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    text-align: center;
    margin-bottom: 5px;
}
section.authorize div.info header p {
    font-size: 20px;
    color: rgba(208, 201, 201, 0.7450980392);
    font-weight: 300;
    max-width: 500px;
    text-align: center;
}
section.authorize div.info header div.mark {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #d73d3d;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 478px) {
    section.authorize div.info header div.mark {
        flex-direction: column;
    }
    section.authorize div.info header div.mark svg {
        margin-right: 0 !important;
        margin-bottom: 5px;
    }
}
section.authorize div.info header div.mark svg {
    margin-right: 5px;
}
section.authorize div.notes p {
    font-size: 18px;
    color: rgba(208, 201, 201, 0.7450980392);
    margin-top: 20px;
    line-height: 1.2;
}
section.authorize div.notes p a {
    color: #f1f1f1;
    text-decoration: none;
}
section.authorize div.notes p a:hover {
    text-decoration: underline;
}
section.authorize div.notes ul {
    margin: 10px 0 30px 0;
    padding: 0;
    list-style: none;
} /*# sourceMappingURL=auth.css.map */
